* {
    margin: 0;
    padding: 0;

}

/* main.css */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-background);
    padding: var(--spacing-medium);
}

.event-category {
    padding: var(--spacing-small);

}
.event-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    list-style: none;
    margin: 0 var(--spacing-medium);
    gap: var(--spacing-medium);
}

.card {
    border: 2px solid;
    padding: 0 var(--spacing-medium) var(--spacing-medium);
    margin-bottom: var(--spacing-small);
    
}

.card li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

li {
    list-style-type: none;
    line-height: 2;
}

.event-cards a {
    text-decoration: none;
    color: var(--color-text);
}