* {
    margin: 0;
    padding: 0;
}

/* home.css */
header {
    display: flex;
    align-items: center;
    background-color: var(--color-header-background);
    padding: var(--spacing-medium);
    gap: var(--spacing-medium);
    color: var(--color-header-text);
}

.event-category {
    padding: var(--spacing-small);

}
.event-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    list-style: none;
    margin: 0 var(--spacing-medium);
    gap: var(--spacing-medium);
}

.card {
    border: 2px solid;
    padding: 0 var(--spacing-medium) var(--spacing-medium);
    margin-bottom: var(--spacing-small);
    
}

.card li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

li {
    list-style-type: none;
    line-height: 2;
}

.event-cards a {
    text-decoration: none;
    color: var(--color-text);
}

.full {
    min-height: 100vh;
    color: var(--color-text);
    background-color: var(--color-background);
}

/* createevent.css */
form {
    max-width: var(--max-width);
    margin: var(--spacing-small);
    font-size: var(--font-size-xlarge);
    padding: var(--spacing-small);
}

form input {
    width: 100%;
    font-size: var(--font-size-large);
}

label {
    text-align: left;
}

.date-inputs {
    display: flex;
    gap: var(--spacing-medium);
    align-items: center;

}

.date-inputs input {
    text-align: center;
}

.description-input {
    min-height: 16em;
    resize: none;
    font-size: var(--font-size-large);
}

.people-inputs {
    display: flex;
    gap: var(--spacing-large);
}

.people-inputs input {
    text-align: center;
}

.description-container label, .description-container textarea {
    width: 100%;
}

.general-inputs, .date-container, .description-container, .people-container {
    display: block;
    margin-bottom: var(--spacing-medium);
}

/* eventdetalils.css */
.event {
    display: grid;
    grid-template-columns: 1fr 3fr;
    max-width: var(--max-width);
    margin: 0 auto;
    font-size: var(--font-size-large);
    padding: var(--spacing-large);
    row-gap: var(--spacing-medium);
    column-gap: var(--spacing-medium);
}

.buttons {
    display: flex;
    gap: 1.5em;
    justify-content: center;
}

button {
    padding: var(--spacing-medium);
}


@media (min-width: 42em) {
    /* this is for desktop screens */

    .form {
        max-width: var(--max-width);
        margin: 0 auto;
        font-size: var(--font-size-large);
        padding: var(--spacing-large);
    }

    .general-inputs, .date-container, .description-container, .people-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin-bottom: var(--spacing-medium);
        column-gap: var(--spacing-medium);
    }

    label {
        text-align: center;
    }

    form input {
        width: 100%;
        font-size: 0.75em;
    }

    .description-input {
        min-height: 12em;
    }
}